doctype html
html(ng-app='teamPage')
  head
    title= 'Team OG'
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
    script(src='./javascripts/controllers/matches.js')
        

  body

    .header-wrap
    .navbar.navbar-default
        .container-fluid
            ul.nav.nav-pills.nav-justified
                li(class=((active == "home") ? 'active' : ""))
                    a(href="/") Home 
                li(class=((active == "team") ? 'active' : ""))
                    a(href="/team") Team
                li(class=((active == "matches") ? 'active' : ""))
                    a(href="/matches") Matches
                li(class=((active == "statistics") ? 'active' : ""))
                    a(href="/statistics") Statistics
                li(class=((active == "store") ? 'active' : ""))
                    a(href="/store") Store
                li(class=((active == "results") ? 'active' : ""))
                    a(href="/Results") Results
                li(class=((active == "schedule") ? 'active' : ""))
                    a(href="/schedule") Schedule

    block content

