extends layout

block content
    .container(ng-controller="matchesCntrl", ng-init="matches=#{JSON.stringify(matches)}")
        h1= "These are some matches"
        p Here are the most recent 25 matches;
        .matches-wrap.row
            .match-wrap.col-sm-12(ng-repeat='match in matches')
                p Match ID: {{match.id}}
                .dire-team.row
                    .dire-player(ng-repeat="player in match.dire_team")
                        .hero.col-sm-2 Hero ID: {{player.hero_id}}
                            .item-wrap.row
                                .item.col-sm-4 {{player.item_0}}
                                .item.col-sm-4 {{player.item_1}}
                                .item.col-sm-4 {{player.item_2}}
                                .item.col-sm-4 {{player.item_3}}
                                .item.col-sm-4 {{player.item_4}}
                                .item.col-sm-4 {{player.item_5}}
                .radiant-team.row
                    .radiant-player(ng-repeat="player in match.radiant_team")
                        .hero.col-sm-2 Hero ID: {{player.hero_id}}
                            .item-wrap.row
                                .item.col-sm-4 {{player.item_0}}
                                .item.col-sm-4 {{player.item_1}}
                                .item.col-sm-4 {{player.item_2}}
                                .item.col-sm-4 {{player.item_3}}
                                .item.col-sm-4 {{player.item_4}}
                                .item.col-sm-4 {{player.item_5}}

