extends layout


block content
    .container
        h1= "Meet the Team"
        p Here are some dudes: #{title}
        if (team.length > 0)
            p Team exists!
        else
            p Team Does Not EXIST!
