body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1C252E;
  color: #A9CF54;
}

a {
  color: #00B7FF;
}

.header-wrap{
    margin: auto;
    text-align: center;
    background-color: black;
    background-image: url('../DefaultBanner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
}

.player{
  background-color: #242F39;
}
.match-wrap{
  background-color: #242F39;
  margin: 10px 0px;

}

.item-wrap{
  width: 100%;
}

.item{
  margin: auto;
  max-height: 45px;
  height: 50%;
  padding: 0px;
}

.hero-wrap{
  width: 20%;
  float: left;
}

.container-fluid{
  width: 90%;
}

.item img{
  max-height: 45px;
}
.hero{
  margin-bottom: 10px;
  background-color: #242F39;
  overflow: hidden;
}

.hero img{
  width: 100%;
}

.dire-team{
  background-color: rgba(194,60,42,0.12);
  width: 95%;
  padding: 0px 1% 10px;
  margin: auto;
}

.radiant-team{
  background-color: rgba(146,165,37,0.12);
  width: 95%;
  padding: 10px 1%;
  margin: 10px auto;
}

.dire-text{
  color: #C23C2A;
}

.Dire-text{
  color: #C23C2A;
}

.radiant-text{
  color: #A9CF54;
}

.Radiant-text{
  color: #A9CF54;
}

.team-member{
  height: 350px;
}

.team-member-edit{
  background-color: #242F39;
  margin-top: 10px;
  height: 615px;
}

.navbar{
  min-height: 0px;
  border: none;
}

.team-member{
  background-color: #242F39;
}
